
.submit-enquiry {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.submit-enquiry:hover {
    background-color: #005f56;
}

.find-a-property {
    background-color: white; /* White background */
    color: #00796b; /* Teal text color to match the primary button */
    border: 2px solid #00796b; /* Teal border to match the primary button */
    border-radius: 25px; /* Rounded corners to match the primary button */
    padding: 10px 20px; /* Padding for button size */
    font-size: 16px; /* Slightly larger font size */
    cursor: pointer;
    font-family: 'General Sans', sans-serif; /* Match the font with the rest of the page */
    font-weight: 600; /* Consistent bold text */
    margin-left: 5px; /* Spacing with the previous button */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
    text-decoration: none;
}

.find-a-property:hover {
    background-color: #00796b; /* Teal background on hover */
    color: white; /* White text on hover */
}


.apply-now {
    background-color: #00796b; /* Teal color */
    color: white;
    border:none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    cursor:pointer;
    font-family: Arial, sans-serif;
}

.apply-now:hover {
    background-color: #005f56; /* Darker teal for hover effect */
}

.learn-more-about-sda {
    background-color: #00796b; /* Teal color */
    color: white;
    border:none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor:pointer;
    font-family: Arial, sans-serif;
}

.learn-more-about-sda:hover {
    background-color: #005f56; /* Darker teal for hover effect */
}


.call-us {
    background-color: white; /* White background */
    color: #2c3e50; /* Dark text color */
    border: 1px solid #707c87; /* Border color */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding for button size */
    font-size: 14px; /* Font size */
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold; /* Bold text */
}

.call-us:hover {
    background-color: #40c685; /* Dark background on hover */
    color: white; /* White text on hover */
}

.contact-us {
    background-color: #00BFC3; /* Teal color */
    color: black;
    border:none;
    border-radius: 20px;
    padding: 12px 40px;
    font-size: px;
    cursor:pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.contact-us:hover {
    background-color: #005f56; /* Darker teal for hover effect */
}


.load-more-post  {
    background-color: #00796b; /* Teal color */
    color: white;
    border:none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor:pointer;
    font-family: Arial, sans-serif;
}

.load-more-post:hover {
    background-color: #005f56; /* Darker teal for hover effect */
}


.load-more-event  {
    background-color: #00796b; /* Teal color */
    color: white;
    border:none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor:pointer;
    font-family: Arial, sans-serif;
}

.load-more-event:hover {
    background-color: #005f56; /* Darker teal for hover effect */
}


.subcribe  {
    background-color: #00796b; /* Teal color */
    color: white;
    border:none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor:pointer;
    font-family: Arial, sans-serif;
}

.subcribe:hover {
    background-color: #005f56; /* Darker teal for hover effect */
}

