body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5; /* Light background color */
}

.link-with-arrow {
    color: #00796b; /* Teal color */
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link-with-arrow i {
    margin-left: 3px; /* Space between text and arrow */
    transform: rotate(-45deg); /* Rotate the arrow 45 degrees */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    font-size: 12px; /* Smaller arrow size */
}

.link-with-arrow:hover i {
    transform: rotate(-45deg) translateX(5px); /* Move arrow to the right on hover while keeping the rotation */
}

.view-properties {
    color: #00796b; /* Teal color */
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.view-properties i {
    margin-left: 3px; /* Space between text and arrow */
    transform: rotate(-45deg); /* Rotate the arrow 45 degrees */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    font-size: 12px; /* Smaller arrow size */
}

.view-properties:hover i {
    transform: rotate(-45deg) translateX(5px); /* Move arrow to the right on hover while keeping the rotation */
}


.view-article {
    color: #00796b; /* Teal color */
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.view-article i {
    margin-left: 3px; /* Space between text and arrow */
    transform: rotate(-45deg); /* Rotate the arrow 45 degrees */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    font-size: 12px; /* Smaller arrow size */
}

.view-article:hover i {
    transform: rotate(-45deg) translateX(5px); /* Move arrow to the right on hover while keeping the rotation */
}
