.step-section {
    margin: 0;
    background: linear-gradient(to right, #09443E 75%, #FFE1D6 25%);
    font-family: 'General Sans', sans-serif; 
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px; /* Reduced padding */
    align-items: center;
}

.step-section__content {
    max-width: 50%; /* Adjust the width for better fit */
    color: #FAF3E0;
    padding-right: 20px; /* Add padding to the right for spacing */
}

.step-section__content h1 {
    font-size: 28px; /* Reduced font size */
    margin-bottom: 15px;
}

.step-section__content .highlight {
    font-family: 'Cursive', Gotcha;
    font-style: italic;
    color: #FFE1D6;
}

.step-section__content p {
    margin-bottom: 30px; /* Reduced margin */
    font-size: 16px; /* Reduced font size */
    line-height: 1.5;
}

.step-cards {
    width: 100%;
}

.step-card {
    background-color: #0B3938;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px; /* Reduced padding */
    margin-bottom: 15px; /* Reduced margin */
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.step-number {
    font-size: 28px; /* Reduced font size */
    color: #FAE6AA;
    font-weight: bold;
    margin-right: 15px;
}

.step-content h2 {
    margin: 0 0 8px 0;
    font-size: 18px; /* Reduced font size */
    color: #FAF3E0;
}

.step-content p {
    margin: 0;
    font-size: 14px; /* Reduced font size */
    line-height: 1.4;
    color: #B0BEC5;
}

.step-section__image {
    flex: 1;
    text-align: right;
    padding-left: 20px; /* Adjusted padding */
    max-width: 50%; /* Limit the width */
}

.step-section__image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
