.full-width-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 60px;
    background: linear-gradient(to right, #09443E 80%, #FFE1D6 20%);
}


.column {
    padding: 0 20px;
}

.column.content-column {
    width: 50%; 
    padding-left: 80px; 
}

.column h1{
    color: white;
    padding-bottom: 15px;
}

.column p {
    color: white;
    font-weight: 100;
}

.column .highlight {
    font-family: 'Gotcha', Sans;
    color:#FFE1D6;
}

.column.image-column {
    width: 50%; 
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-right: 60px; 
}

.image-column img {
    padding-top: 60px;
    aspect-ratio: 656 / 656; 
    width: 100%; 
    max-width: 100%; 
    height: auto;
    object-fit: cover;
}

.step-cards {
    margin-top: 20px;
}

.step-card {
    background-color: #0B3938; 
    color: #ffffff; 
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.step-number {
    font-size: 32px; 
    color: #FAE6AA; 
    font-weight: bold;
    margin-right: 20px;
}

.step-content h2 {
    font-family: 'General Sans', sans-serif;
    margin: 0 0 10px 0;
    font-size: 26px;
    color: white; 
}

.step-content p {
    font-family: 'General Sans', sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    color: white; 
    font-weight: 100;
}
