.hero {
    background: linear-gradient(to right, #f5f5f5 80%, #009496 20%); /* Grey on the left, Teal on the right */
    display: flex;
    align-items: center;
    padding: 80px 0;
    position: relative;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.hero__text {
    max-width: 50%;
}

.hero__title {
    font-size: 48px;
    font-weight: 500;
    color: #333333; /* Default color for "living" */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.hero__title--cursive {
    font-family: 'Gotcha', cursive; /* Assuming Gotcha is already included in your font-face */
    font-weight: 400; /* Normal weight for cursive */
    color: #007173; /* Teal color */
    margin-right: 10px; /* Space between "Life-changing" and "living" */
}


.hero__description {
    font-size: 18px;
    color: #666666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero__buttons {
    display: flex;
    gap: 20px;
}

.hero__image {
    position: relative;
    max-width: 45%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50% 50%;
    border-bottom-left-radius: 0;
}


.hero__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
}

.hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #00796b;
    border-radius: 50%;
}
